<div class="container mt-4 text-center">
  <h1>Your movie lists</h1>
  <ul class="list-group list-group-flush">
    <div class="card d-flex m-4">
      <% @lists.each do |list| %>
        <li class="list-group-item">
          <h1><%=link_to list.name, list_path(list), class: "" %></h1>
          <% list.photo %>
        </li>
      <% end %>
    </div>
  </ul>
  <%= link_to "Make a new list", new_list_path, class: "btn btn-primary text-decoration-none mt-4" %>
</div>
