<div class="hero container-fluid banner mb-3">
  <h1>Welcome to movie select</h1>
</div>
<div class="container mt-1">
  <h1>Your movie lists</h1>
  <div class="row row-cols-2 row-cols-md-3">
    <% @lists.each do |list| %>
      <div class="col">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="item card-category movie-cards blur" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
            <h2 class="text-white text-center te p-4" style="text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);"><%= list.name.capitalize %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
